ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
    max-height: 4em;
    margin-right: 1em;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 17px;
    text-decoration: none;
  }

  app-show-value {
    padding: 4em;
}
  
