.navigation{
    width: 100%;
    height: 90px;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.navigator{
    display: inline-block;
    width: 12%;
    height: 20%;
}

.display.navigator {
    font-size: 2.5vw;
}