<div class="navigation">
<ion-button  class="navigator" (click)="firstPage()"><ion-icon name="play-skip-back-circle-outline"></ion-icon></ion-button>
<ion-button (click)="previousPage()" class="navigator"><ion-icon name= "caret-back-circle-outline"></ion-icon></ion-button>
<div class="display navigator">{{display()}}</div>
<ion-button class="navigator" (click)="nextPage()"><ion-icon name= "caret-forward-circle-outline"></ion-icon></ion-button>
<ion-button class="navigator" (click)="lastPage()"><ion-icon name= "play-skip-forward-circle-outline"></ion-icon></ion-button>
<ion-button class="navigator" (click)="settings()"><ion-icon name= "cog"></ion-icon></ion-button>
</div>
